*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-bean;
}


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 100%;
}

.div {
  width: 1000px;
  height: 600px;
  background-color: #c2c5bb;
  border-radius: 25px;
  padding: 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-rows: 1fr auto;
}

.slider{
  position: relative;
  overflow: hidden;
}


#card__text_container{
  height: 300px;
  margin: 1rem;
}

h1{
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

p{
  font-size: 1.5rem;
}

#dotContainer{
  margin: auto;
  padding: 10px;
}

.dots{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 5px 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;

  transition: 200ms ease-in-out;

  &:hover{
    background-color: darken(gray, 20%);
  }

  &:active{
    background-color: black;
    cursor: default;
  }
}