*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-bean;
}

.div {
  width: 1000px;
  height: 600px;
  background-color: #c2c5bb;
  border-radius: 25px;
  padding: 4rem;

  // display: grid;
  // grid-template-columns: 1fr 1fr;

  // grid-template-rows: 1fr auto;
  display: flex;
}

.slider {
  overflow: hidden;
  height: 100%;
  width: 50%;
}

.img_container {
  position: relative;
  height: 90%;
  width: 100%;
}

#card__text_container {
  height: 100%;
  width: 50%;
  // margin: 1rem;
  padding: 0 0 0 2rem;
  overflow: auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.4;
}

.dotContainer {
  margin: auto;
  height: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 5px 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;

  transition: 200ms ease-in-out;

  &:hover {
    background-color: darken(gray, 20%);
  }

  &:active {
    background-color: black;
    cursor: default;
  }
}

.image-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 100%;

  --from: 0%;
  --to: 100%;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes next {
  from {
    left: var(--from);
  }

  to {
    left: 0;
  }
}

@keyframes prev {
  from {
    left: 0;
  }

  to {
    left: var(--to);
  }
}


